coloredlogs==15.0.1
contourpy==1.0.7
cycler==0.11.0
flatbuffers==23.5.26
fonttools==4.39.4
humanfriendly==10.0
kiwisolver==1.4.4
matplotlib==3.7.1
mpmath==1.3.0
numpy==1.24.3
onnxruntime==1.15.0
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
protobuf==4.23.2
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
sympy==1.12
